<h2>Air Quality</h2>
<p>After selecting all data you will be able to see statistick about air quality in selected cities</p>

<!-- CITY -->
<mat-form-field appearance="fill">
    <mat-label>City</mat-label>
    <mat-select multiple [(value)]="selectedCities">
        <mat-option *ngFor="let city of cities" [value]="city.value">{{ city.viewValue }}</mat-option>
    </mat-select>
</mat-form-field>

<!-- POLLUTION -->
<mat-form-field appearance="fill">
    <mat-label>Pollutions</mat-label>
    <mat-select multiple [(value)]="selectedPollutions">
        <mat-option *ngFor="let pollution of pollutions" [value]="pollution">{{ pollution }}</mat-option>
    </mat-select>
</mat-form-field>

<!-- CONFIRM -->
<button mat-raised-button (click)="getData()">Confirm</button>

<app-air-quality-chart [airQualityData]="airQualityData"></app-air-quality-chart>